html, body {
     margin: 0 auto;
     background-color: #0F6008;
}
 
.wrapper {
     display: flex;
     justify-content: center;
}

.menu {
     width: 85%;
     height: 20vh;
     background-color: black;
}

.field-zone { 
   display: flex;
   justify-content: center;
}

.field-zone__playground {
     margin: 25px;
}

.field-zone__playground td {
     padding: 18px 18px 12px 18px;
}

.field-zone__playground__cell {
     background-image: url(/src/assets/img/grass.png)
}

.bottom-menu {
     display: flex;
     width: 85%;
     height: 18.8vh;
     background-color: black;
     font-size: 0;
     padding: 10px;
     gap: 10px;
}

.bottom-menu__chat {
     display: inline-block;
     width: 35%;
     height: inherit;
     background-color: aliceblue;
}

.bottom-menu__time{
     display: inline-block;
     background-color: aqua;
     width: 25%;
     height: inherit;
}

.bottom-menu__counter{
     display: inline-block;
     background-color: #77A073;
     border-radius: 55px;
     width: 40%;
     height: 18.8vh;
}

.bottom-menu__counter__rock-block{
     width: 30;
     display: inline-block;
     padding: 15px 30px;
}

.bottom-menu__counter__rock-block__img {
     max-width: 100%;
     height: auto;
}

.bottom-menu__counter__rock-block__text{
     margin-left: 16px;
     font-size: 60px;
}